

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap'); 
.menu {
  width: 100%;
  background-color: #512da8;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
  
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #5c6bc0;
  border-radius: 5px;
}

body{background-color : black;
  font-family: 'Montserrat', sans-serif;
}
h1,h2{color: white;
text-align: center;
margin-top : 20px;
font-size : 50px}
div{display: flex;
justify-content:center}
p{color:white;
font-family: 'Montserrat', sans-serif;
margin : 20px}
.text {color : #c3bef8;
  text-align: left;
font-size : 15px;
font-family: 'Montserrat', sans-serif}
h3{font-size : 15px;
  color : white;
font-family : 'Zen Dots'}
img {
  display: block;
  width: 80%;
  margin: auto;
}
.text1{color : #7797d6 ;text-align: left;
font-size : 15px;
font-family: 'Montserrat', sans-serif}
.text2{color : #ad864d ;text-align: left;
font-size : 15px;
font-family: 'Montserrat', sans-serif}
.text3{color : #c8c7c6 ;text-align: left;
font-size : 15px;
font-family: 'Montserrat', sans-serif}
.text4{color : #da8739 ;text-align: left;
font-size : 15px;
font-family: 'Montserrat', sans-serif}
.text5{color : #a2796e ;text-align: left;
font-size : 15px;
font-family: 'Montserrat', sans-serif}
.text6{color : #bbb48a;text-align: left;
font-size : 15px;
font-family: 'Montserrat', sans-serif}
.text7{color : #afd6da;text-align: left;
font-size : 15px;
font-family: 'Montserrat', sans-serif}
.text8{color : #3a54cc;text-align: left;
font-size : 15px;
font-family: 'Montserrat', sans-serif}
